@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Inter:wght@100..900&family=Mukta&family=PT+Serif&display=swap");
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: auto;
  font-family: "Inter", sans-serif;
}
#mouseEffect {
  position: fixed;
  border-radius: 50%;
  width: 600px;
  height: 600px;
  background-color: rgba(72, 141, 252, 0.093);
  box-shadow: 0 0 #0000;
  filter: blur(160px);
  pointer-events: none;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 999;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff; /* Preloader background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

#sidebar {
  background-color: #0f172a;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  position: relative;
  overflow-y: hidden;
}
#sidebar img {
  width: 40%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px #54d3d4;
  box-shadow: 0 0 10px #54d3d4;
  /* border: 1px solid #54d3d4; */
  border-radius: 4px;
  box-shadow: 10px 10px 0 rgba(72, 141, 252, 0.126);
  transform: translate(10px, 10px);
}
#sidebar h1 {
  font-size: 2.68rem;
  color: #d1d7e6;
  /* line-height: 1; */
}
#sidebar h2 {
  font-size: 1.25rem;
  /* line-height: 1.75rem; */
  color: #d1d7e6;
}
#sidebar p {
  line-height: 1.5;
  color: #62759a;
}
#nav-options {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 0.8rem;
  color: #c4d1ec;
}

#nav-options a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  /* margin-right: 10px; */
}

#content {
  padding: 20px;
  background-color: #0f172a;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  margin-left: 0;
  overflow-y: auto;
  line-height: 1.5;
  color: #8297bc;
}

#content h2 {
  color: #d1d7e6;
  margin-bottom: 20px;
}
.fa:hover {
  color: #cecae0;
  cursor: pointer;
}
@media (min-width: 840px) {
  .container {
    flex-wrap: nowrap;
  }

  #sidebar {
    width: 50%;
    height: 100vh;
    position: fixed;
    padding: 5vw 12vw 0vw 12vw;
  }

  #nav-options {
    display: flex;
    flex-direction: column;
  }

  #content {
    width: 50%;
    margin-left: 50%;
    padding: 5vw 12vw 0vw 4vw;
  }
}
@media (max-width: 834px) {
  #sidebar h1 {
    font-size: 2.2rem;
  }
  #nav-options {
    display: none;
  }
}
.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

#nav-options a:hover {
  border-bottom: 2px solid #54d3d4;
}

#nav-options a.active,
#nav-options a:active {
  border-bottom: 1px solid #54d3d4;
}
.fa {
  color: #54d4d47a;
}
/* Experience */

#exp {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#year {
  width: 20%;
}
#year p {
  font-size: 0.8rem;
}
#details {
  width: 80%;
}
#details h3 {
  color: #d1d7e6;
}
#details h4 {
  margin-top: -15px;
  font-size: 1rem;
}
#details p {
  margin-top: -15px;
}
@media (max-width: 834px) {
  #exp {
    flex-direction: column;
    align-items: start;
  }
  #year {
    width: 100%;
  }
  #details {
    width: 100%;
    margin-top: -15px;
  }
}

#skills1 p {
  color: #54d3d4;
  background-color: #90c4c448;
  padding: 7px;
  margin: 7px;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-block;
}
/* Projects */
#prcontainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
#primg,
#primg2,
#primg3 {
  width: 20%;
}
#primg img,
#primg2 img,
#primg3 img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#prcon,
#prcon2,
#prcon3 {
  width: 80%;
  padding: 1vw;
  margin-top: -26px;
}
#prcon h3,
#prcon2 h3,
#prcon3 h3 {
  color: #d1d7e6;
}
#prcon p,
#prcon2 p,
#prcon3 p {
  margin-top: -15px;
}
@media (max-width: 834px) {
  #prcontainer {
    flex-direction: column;
    align-items: start;
  }
  #primg,
  #primg2,
  #primg3 {
    width: 100%;
  }
  #prcon,
  #prcon2,
  #prcon3 {
    width: 100%;
    margin-top: -15px;
  }
}
